*.pyc
build/
*.egg-info/
__pycache__/
.bash_history
.nv/
.python_history
.cache/
/benchmark_object_detection/detectron2/models_out/
/benchmark_object_detection/detectron2/output/
/benchmark_classification/CIFAR_BENCH/data*
/benchmark_classification/CIFAR_BENCH/checkpoint
/.torch/
/training_output/classification/*
!/training_output/classification/*.md
/training_output/objectdetection/*
!/training_output/objectdetection/*.md
/data/*
!/data/*.sh
*/logs/
data.lock
.wget-hsts
*.npy
*.deb
*.pth
*.tar
/logs/
*/traces/*
/traces/*
*/tmp_data/*
*.csv
comm.json
trace.json
*.pkl
*.npz
*.h5
*.trace.json
*.pdf
*.onnx
*/notebook_secret/
.ipython/
.local/share/jupyter/*
.horovod/cache.bin
/debug/*
.config/
.horovod/
.jupyter/
.keras/
.local/
*/__pycache__/

# but allow files / folders under ref_bitplans, include npy files
!/ref_bitplans/**
